{% extends 'profiles/login.jinja2' %}

{% block title %}
Megano - {{title}}
{% endblock %}

{% block name %}
{{title}}
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p() }}
        <button type="submit">Отправить</button>
    </form>
{% endblock %}
