{% extends 'profiles/login.jinja2' %}

{% block title %}
Megano - {{title}}
{% endblock %}

{% block name %}
{{title}}
{% endblock %}

{% block content %}
  {% if validlink %}
     <h3 class="header">{{_("Пользователь")}} {{ user_.username }}</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p() }}
      <button type="submit">Подтвердить</button>
    </form>
  {% else %}
    <p>
      Вероятно ссылка неверна или уже была использована
    </p>
  {% endif %}
{% endblock %}
