{% extends 'profiles/account_base.jinja2' %}
{# {% extends 'base.jinja2' %} #}

{% block title %}
{{_("Смена пароля")}}
{% endblock %}


{% block change_password %}
{% include "profiles/activate_menu.jinja2" %}
{% endblock %}


{% block account_content %}
                <div class="Profile">
                    <div class="row-block">
                        <h2 class="Section-title">{{_("Страница смены пароля для пользователя:")}} {{ user.username }}</h2>
                    </div>
                </div>
                <div class="row">
                    <!--================================== Смена пароля начало ==================================-->
                    <div class="row-block">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p() }}
                            <button type="submit" class="btn btn_square btn_dark">{{_("Change password")}}</button>
                        </form>
                    </div>
                    <div class="row-block"></div>
                    <!--================================== Смена пароля конец ===================================-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
