{% extends 'profiles/login.jinja2' %}

{% block title %}
Megano - {{title}}
{% endblock %}

{% block name %}
{{title}}
{% endblock %}


{% block content %}
    Инструкция по восстановлению пароля отправлена на указанный email
{% endblock %}
