{% extends 'profiles/login.jinja2' %}

{% block title %}
Megano - {{title}}
{% endblock %}

{% block name %}
{{title}}
{% endblock %}

{% block content %}
<p>Пароль для пользователя успешно изменен</p>
{% endblock %}
