<!--ПЕРЕДАЙ В КОНТЕКСТ ПЕРЕМЕННУЮ product = Product() -->
<div class="Card"><a class="Card-picture" href="{{ product.get_absolute_url() }}">
    <img src="{{ product.preview.url }}" alt="product_preview.jpg" />
</a>
    <div class="Card-content">
        <strong class="Card-title"><a href="{{ product.get_absolute_url() }}">{{ product.name }}</a>
        </strong>
        <div class="Card-description">
            <div class="Card-cost">
                <span class="Card-price">
                    {% if price(product) %}
                    {# Translators: "От" {{price}} #}
                        {{_("От")}} {{ price(product) }} р
                    {% else %}
                        {{_("Нет в наличие")}}
                    {% endif %}
                </span>
            </div>
            <div class="Card-category">
                {% for tag in product.tags.all() %}
                {{ tag.name }}/
                {% endfor %}
            </div>
        </div>
    </div>
</div>
