DATABASE_URL = DatabaseUrl
REDIS_URL = RedisURL
SECRET_KEY = "django-insecure-=e-i4dlx_qq&ra7un4)bdr#8q)gc_*yy4@--kt(0(p#!("
DEBUG = True
ALLOWED_HOSTS = www.allowed.com www.host.com
EMAIL_HOST = "smtp.gmail.com"
EMAIL_HOST_USER = "example@gmail.com"
EMAIL_HOST_PASSWORD = "example password"
