<div id="modal_open" class="my_modal">
    <div class="my_modal-dialog">
        <div class="my_modal-content">
            {% trans %}
            <div class="my_modal-header">
                <p class="my_modal-title">Поздравляем!</p>
                <a href="#" title="Закрыть модальное окно" class="close">×</a>
            </div>
            <div class="my_modal-body">
                <p>Товар успешно добавлен в корзину!</p>
            </div>
            {% endtrans %}
        </div>
    </div>
</div>
