<div class="ProgressPayment-title">{{_("К сожалению, оплата не прошла")}}
</div>
<div style="display:  inline-block; margin: 2em 0 2em 0">
    <div style="width: 150px; height: 150px; display: flex; Justify-content: center; Align-items: center;   background: radial-gradient(ellipse at center,  red 0%, red 50%, red 50%, #fff 50%, #fff 100%);">
        <div style="  width: 50%; top: -50% margin: 0 auto; Font-size: 80px; Color: white; font-weight: bold"> ! </div>
    </div>
</div>
