<div class="ProgressPayment-title">{{_("Поздравляем! Оплата прошла успешно.")}}
</div>
<div style="display:  inline-block; margin: 2em 0 2em 0">
    <div style="width: 150px; height: 150px; display: flex; Justify-content: center; Align-items: center;   background: radial-gradient(ellipse at center,  #3cb878 0%,#3cb878 50%,#3cb878 50%,#fff 50%,#fff 100%);">
        <div style="  width: 50%; top: -50% margin: 0 auto; Font-size: 40px; Color: white; "> OK </div>
    </div>
</div>
