{% extends 'profiles/account_base.jinja2' %}

{% block title %}
История просмотра пользователя
{% endblock %}


{% block history_order %}
{% include "profiles/activate_menu.jinja2" %}
{% endblock %}

{% block account_content %}
<div class="Orders">
<!--============================================= начало заказа =============================================-->
    {% for order in orders %}
    <div class="Order Order_anons">
        <div class="Order-personal">
            <div class="row">
                <div class="row-block">
                    <a class="Order-title" href="{{ url('orders:detail_order', pk=order.pk) }}">Заказ&#32;
                        <span class="Order-numberOrder">№{{ order.order_number }}</span>
                        &#32;от&#32;
                        <span class="Order-dateOrder">{{ order.created_at.date() }}</span>
                    </a>
                </div>
                <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">Тип доставки:
                        </div>
                        <div class="Order-infoContent"> {{ order.get_delivery_type_display() }} {# {{ order.DELIVERY_TYPE_DICT[order.delivery_type].title() }} #}
                        </div>
                    </div>
                    <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">Оплата:
                        </div>
                        <div class="Order-infoContent">{{ order.get_payment_type_display() }} {# {{ order.PAYMENT_TYPES_DICT[order.payment_type].title() }} #}
                        </div>
                    </div>
                    <div class="Order-info">
                        <div class="Order-infoType">Общая стоимость:
                        </div>
                        <div class="Order-infoContent"><span class="Order-price"><b>{{ order.total_price }} &#x20bd;</span>
                        </div>
                    </div>
                    <div class="Order-info Order-info_status">
                        <div class="Order-infoType">Статус:
                        </div>
                        <div class="Order-infoContent"> {{ order.status.title() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <h2>У вас еще нет заказов</h2>
    {% endfor %}
<!--============================================= конец заказа =============================================-->
</div>


{% endblock %}
