<div class="Section-columnSection Section-columnSection_mark">
    <header class="Section-columnHeader">
        <strong class="Section-columnTitle">{{_("ОГРАНИЧЕННЫЕ ПРЕДЛОЖЕНИЯ")}}</strong>
    </header>
    <div class="Card"><a class="Card-picture" href="{{ url ('catalog:index') }}?sort=famous&desc=on&search={{ limit_offer.product.name }}"><img src="{{ limit_offer.product.preview.url }}" alt="card.jpg"/></a>
        <div class="Card-content">
            <strong class="Card-title"><a href="{{ url ('catalog:index') }}?sort=famous&desc=on&search={{ limit_offer.product.name }}">{{ limit_offer.product.name }}</a></strong>
                <div class="CountDown" data-date="{{ (limit_offer.end_date).strftime('%d.%m.%Y %H:%M') }}">
                    <div class="CountDown-block">
                        <div class="CountDown-wrap">
                            <div class="CountDown-days"></div>
                            {% trans %}
                            <span class="CountDown-label">days</span>
                        </div>
                    </div>
                    <div class="CountDown-block">
                        <div class="CountDown-wrap">
                            <div class="CountDown-hours"></div>
                            <span class="CountDown-label">hours</span>
                        </div>
                    </div>
                    <div class="CountDown-block">
                        <div class="CountDown-wrap">
                            <div class="CountDown-minutes"></div>
                            <span class="CountDown-label">mins</span>
                        </div>
                    </div>
                    <div class="CountDown-block">
                        <div class="CountDown-wrap">
                            <div class="CountDown-secs"></div>
                            <span class="CountDown-label">secs</span>
                            {% endtrans %}
                        </div>
                    </div>
                </div>
          </div>
    </div>
</div>
