 <div class="Order Order_anons">
    <div class="Order-personal">
        <div class="row">
            <div class="row-block">
                <a class="Order-title" href="oneorder.html">
                    {{offer.shop.name}}
                </a>
                <div class="ProductCard-cartElement" style="margin-top: 10px;">
<!--                    <a class="btn btn_primary" href="#modal_open">-->
<!--                        <img class="btn-icon" src="{{ static('assets/img/icons/card/cart_white.svg')}}" alt="cart_white.svg" />-->
<!--                        <span class="btn-content">Купить</span>-->
<!--                    </a>-->
                     <label for="push-form-offer-{{offer.pk}}" tabindex="0" class="btn btn_primary">
                        <img class="btn-icon" src="{{ static('assets/img/icons/card/cart_white.svg')}}" alt="cart_white.svg" />
                        <span class="btn-content">{{_("Купить")}} </span>
                    </label>
                </div>
            </div>
            <div class="row-block">
                <div class="Order-info Order-info_delivery">
                    <div class="Order-infoType">{{_("Тип доставки:")}}
                    </div>
                    <div class="Order-infoContent"> {{offer.get_delivery_method_display()}}
                    </div>
                </div>
                <div class="Order-info Order-info_pay">
                    <div class="Order-infoType">{{_("Оплата:")}}
                    </div>
                    <div class="Order-infoContent"> {{offer.get_payment_method_display()}}
                    </div>
                </div>
                <div class="Order-info">
                    <div class="Order-infoType">{{_("Стоимость:")}}
                    </div>
                    <div class="Order-infoContent"><span class="Order-price"> {{offer.price}} ₽</span>
                    </div>
                </div>
                <div class="Order-info">
                    <div class="Order-infoType">{{_("Остаток на складе:")}}
                    </div>
                    <div class="Order-infoContent"><span class="Order-price"> {{offer.remains}} шт</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
