{% extends 'base.jinja2' %}
{% block title %} {{product.name}} {% endblock %}


{% block middle %}
    <div class="Middle Middle_top">
        <div class="Section">
            <div class="wrap">
                <div class="Product">
                    <div class="ProductCard">
                        <div class="ProductCard-look">
                            <div class="ProductCard-photo">
                            {% if product.preview %}
                                <img src="{{ product.preview.url }}" alt="{{ product.name }} preview" />
                                {% else %}
                                <p>{{_("Изображение отсутствуе")}}т</p>
                            {% endif %}
                            </div>
                            <div class="ProductCard-picts">
                                {% for picture in product.images.all() %}
                                <a class="ProductCard-pict ProductCard-pict_ACTIVE" href="{{ picture.image.url }}">
                                    <img src="{{ picture.image.url }}" alt="image {{ product.name }}" />
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="ProductCard-desc">
                            <div class="ProductCard-header">
                                <h2 class="ProductCard-title"> {{ product.name }}
                                </h2>
                                <div class="ProductCard-info">
                                    <div class="ProductCard-cost">
                                        <div class="ProductCard-price">
                                            {% if min_price %}
                                                {{ min_price }} ₽
                                            {% else %}
                                            {{_("Предложений ещё нет")}}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ProductCard-text">
                                {{ product.about }}
                            </div>
                            <div class="ProductCard-cart">
                                <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                                    <div class="Amount Amount_product">
                                        <form class="Amount Amount_product" action="{{ url('cart:add_cart') }}" method="post" >

                                        <button class="Amount-remove" type="button">
                                        </button>
                                            {% csrf_token %}
                                            <input class="Amount-input form-input" name="amount" type="text" value="1"/>
                                            {% for offer in product.offers.all() %}
                                                <input type="submit" id="push-form-offer-{{offer.pk}}" style="display: none;" name="offer_id" value="{{offer.pk}}" />
                                            {% endfor %}

                                        <button class="Amount-add" type="button">
                                        </button>
                                        </form>
                                    </div>
                                </div>
<!-- ----------------------------------------         В РАЗРАБОТКЕ      ------------------------------------------->
<!--                                <div class="ProductCard-cartElement">-->
<!--                                    <a class="btn btn_primary" href="#modal_open">-->
<!--                                        <img class="btn-icon" src="{{ static('assets/img/icons/card/cart_white.svg') }}" alt="cart_white.svg" />-->
<!--                                        <span class="btn-content">Купить</span>-->
<!--                                    </a>-->
<!--                                </div>-->
                                <div id="modal_open" class="my_modal">
                                    <div class="my_modal-dialog">
                                        <div class="my_modal-content">
                                            <div class="my_modal-header">
                                            {% trans %}
                                                <p class="my_modal-title">Поздравляем!</p>
                                                <a href="#" title="Закрыть модальное окно" class="close">×</a>
                                            </div>
                                            <div class="my_modal-body">
                                                <p>Товар успешно добавлен в корзину!</p>
                                            </div>
                                            {% endtrans %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ProductCard-footer">
                                <div class="ProductCard-tags">
                                    <strong class="ProductCard-tagsTitle">{{_("Тэги")}}:
                                    </strong>
                                    {% for tag in product.tags.all() %}
                                    {{ tag.name }};
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Tabs Tabs_default">
                        <div class="Tabs-links">
                            <a class="Tabs-link_ACTIVE Tabs-link" href="#description">
                                <span>{{_("Описание")}}</span>
                            </a>
                            <a class="Tabs-link" href="#sellers">
                                <span>{{_("Продавцы")}}</span>
                            </a>
                            <a class="Tabs-link" href="#addit">
                                <span>{{_("Характеристика")}}</span>
                            </a>
                            <a class="Tabs-link" href="#reviews">
                                <span>{{_("Отзывы")}} ({{ reviews | length }})</span>
                            </a>
                        </div>
                        <div class="Tabs-wrap">
                            <div class="Tabs-block" id="description">
                                <h2>{{ product.name }}
                                </h2>
                                {% if product.preview %}
                                <img class="pict pict_right" src="{{ product.preview.url }}" alt="{{ product.name }}_img" />
                                {% else %}
                                <p>{{_("Изображение отсутствует")}}</p>
                                {% endif %}
                                <div>
                                   {{ product.description }}
                                </div>
                                <div class="clearfix">
                                </div>
                            </div>
                            <div class="Tabs-block" id="sellers">
                                <div class="Section-content">
                                    <div class="Orders">
                                        {% for offer in product.offers.all().filter(remains__gt=0) %}
                                        {% include "products/offer-block.jinja2" %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="Tabs-block" id="addit">
                                <div class="Product-props">
                                    {% for parameter in product.productdetail_set.all() %}
                                    <div class="Product-prop">
                                        <strong> {{ parameter.detail.name }}
                                        </strong><span> {{ parameter.value }} </span>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            {% include "products/reviews.jinja2" %}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
