<div id="modal_open_comparison_succ" class="my_modal">
    <div class="my_modal-dialog">
        <div class="my_modal-content">
            <div class="my_modal-header">
                <p class="my_modal-title">{{ _("Поздравляем!") }}</p>
                <a href="#" title="Закрыть модальное окно" class="close">×</a>
            </div>
            <div class="my_modal-body">
                <p>{{ _("Товар успешно добавлен в список сравнение!") }}</p>
            </div>
        </div>
    </div>
</div>

<div id="modal_open_comparison_failed" class="my_modal">
    <div class="my_modal-dialog">
        <div class="my_modal-content">
            <div class="my_modal-header">
                <p class="my_modal-title">{{ _("Добаление невозможно!") }}</p>
                <a href="#" title="Закрыть модальное окно" class="close">×</a>
            </div>
            <div class="my_modal-body">
                <p>{{ _("Товар уже был добавлен в список сравнения!") }}</p>
            </div>
        </div>
    </div>
</div>
