<div class="Section-columnSection">
    <header class="Section-header">
        <strong class="Section-title">{{_("Популярные тэги")}}</strong>
    </header>
    <div class="Section-columnContent">
        <div class="buttons">
        {% for tag in famous_tags %}
            <a class="btn btn_default btn_sm"
               href="{{ request.path }}?tag_id={{ tag.pk }}{{ sort_params.to_string('&') }}">{{ tag.name }}</a>
        {% endfor %}
        </div>
    </div>
</div>
